.product-card {
  width: 260px;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: transform .2s ease;
  text-align: center;
  font-family: sans-serif;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: black;
}

.product-description {
  font-size: 14px;
  color: #555;
  margin: 8px 0 15px 0;
  height: 40px;
  overflow: hidden;
}

  .product-price {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
  }
  
.product-btn {
  background: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: .2s;
}

.product-btn:hover {
  background: #3c8e40;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

  
  .product-info {
    text-align: center;
    height: 150px;
  }
  