.header{
    height: 100vh;
    position: relative;
}
.header img{
    width: 100%;
    height: 100%;
}
.nav{
    background-color: rgba(245, 245, 245, 0.2);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 50%;
    width: 70%;
    left: 50%;
    height: 80px;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    padding: 0 5%;
}
.nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.nav ul li a{
    color: white;
    font-size: 24px;
}